@model BeerCalculator.Common.DTOs.IngredientDTO

<script>

   
    function addGrain() {

        var grainRow = $('.grain-prototype').clone();
        $(grainRow).removeClass('grain-prototype').addClass('recipe-grain');
        $('.grain-table').append(grainRow);
    }

    function addHop() {

        var hopRow = $('.hop-prototype').clone();
        $(hopRow).removeClass('hop-prototype').addClass('recipe-hop');
        $('.hop-table').append(hopRow);
    }

    function createRecipe() {
        var recipe = getRecipeInformation();

        console.log("Collected recipe is ", recipe);

        sendRecipeToServer(recipe);
    }

    function sendRecipeToServer(recipe) {

        $.ajax({
            url: '/Recipe/CreateRecipe',
            type: 'POST',
            data: recipe,
            success: function (response) {
                alert("Success");
            },
            error: function (response) {
                alert("Error");
            }
        })
    }

    function getRecipeInformation() {

        var recipeName = $('.recipe-name').val();
        var grains = getGrains();
        var hops = getHops();
        var yeast = getYeast();

        var recipe = {};

        recipe.RecipeName = recipeName;
        recipe.Grains = grains;
        recipe.Hops = hops;
        recipe.Yeast = yeast;

        return recipe;
    }

    function getYeast() {

        var yeast = {};

        var yeastTypeID = $('.yeast-selection').val();

        yeast.YeastTypeID = yeastTypeID;

        return yeast;
    }

    function getHops() {

        var hops = $('.recipe-hop');

        var recipeHops = [];

        console.log("Hops captured lenght is ", hops.length);

        for (var i = 0; i < hops.length; i++) {
            var hop = {};

            var hopTypeID = $(hops[i]).find('.hop-selection').val();
            var hopAmount = $(hops[i]).find('.hop-amount').val();
            var boilTime = $(hops[i]).find('.boil-time').val();
            var alphaAcid = $(hops[i]).find('.hop-alpha-acid').val();

            hop.HopTypeID = hopTypeID;
            hop.Amount = hopAmount;
            hop.AlphaAcid = alphaAcid;
            hop.BoilTime = boilTime;

            recipeHops.push(hop);
        }

        return recipeHops;
    }

    function getGrains() {
        var grains = $('.recipe-grain');

        var recipeGrains = [];

        for (var i = 0; i < grains.length; i++) {

            var grain = {};

            var grainTypeID = $(grains[i]).find('.grain-selection').val();
            var grainAmount = $(grains[i]).find('.grain-amount').val();

            grain.GrainTypeID = grainTypeID;
            grain.Amount = grainAmount;

            recipeGrains.push(grain);
        }

        return recipeGrains;
    }

    function getRecipeInput()
    {
        var recipeInput = {};

        recipeInput.Grains = getGrains();
        recipeInput.Hops = getHops();
        recipeInput.Yeast = getYeast();
        recipeInput.ExpectedAttenuation = $('#expected-attenuation').val();

        recipeInput.WaterInput = getWaterInput();

        return recipeInput;
        
    }

    function getWaterInput()
    {
        var waterInput = {};
        waterInput.DesiredBatchSize = $('#batch-size').val();
        waterInput.MashEfficiency = $('#mash-efficiency').val();
        waterInput.MashTemperature = $('#mash-temperature').val();
        waterInput.BoilRate = $('#boil-off-rate').val();
        waterInput.GrainAbsorbtion = $('#grain-absorbtion').val();
        waterInput.EquipmentDeadSpace = $('#equipment-dead-space').val();
        waterInput.TrubLoss = $('#trub-loss').val();
        waterInput.MashThickness = $('#mash-thickness').val();
        waterInput.InitialGrainTemperature = $('#initial-grain-temperature').val();

        return waterInput
    }

    function calculateMetrics()
    {
        var recipeInput = getRecipeInput();

        sendMetricsToServer(recipeInput);
    }

    function sendMetricsToServer(recipeInput)
    {
        var data = JSON.stringify(recipeInput);
        console.log(data);

        $.ajax({
            url: "/Calculator/Calculate",
            type: "POST",
            data: recipeInput,
            success: function (response) {
                console.log(response);
            },
            error: function () {
                alert("There was an error");
            }
        })
    }
</script>
<h2>Create Recipe</h2>
<div>
    <div class="row">

        <div class="col-lg-1"><h4>Name:</h4></div>
        <div class="col-lg-2"><input type="text" class="form-control recipe-name" /></div>
    </div>

    <div>

        <h3>Water</h3>
        <div class="row">
            <div class="col-lg-2"><h4>Desired Batch Size</h4></div>
            <div class="col-lg-2"><input id="batch-size" /></div>

            <div class="col-lg-2"><h4>Mash Efficiency</h4></div>
            <div class="col-lg-2"><input id="mash-efficiency" /></div>



        </div>

        <div class="bottom-margin-push"></div>

        <div class="row">

            <div class="col-lg-2"><h4>Mash Temperature</h4></div>
            <div class="col-lg-2"><input id="mash-temperature" /></div>

            <div class="col-lg-2"><h4>Boil Off Rate</h4></div>
            <div class="col-lg-2"><input id="boil-off-rate" /></div>

        </div>

        <div class="row">

            <div class="col-lg-2"><h4>Grain Absorbtion</h4></div>
            <div class="col-lg-2"><input id="grain-absorbtion" /></div>

            <div class="col-lg-2"><h4>Equipment Dead Space</h4></div>
            <div class="col-lg-2"><input id="equipment-dead-space" /></div>

        </div>

        <div class="bottom-margin-push"></div>

        <div class="row">

            <div class="col-lg-2"><h4>Trub Loss</h4></div>
            <div class="col-lg-2"><input id="trub-loss" /></div>

            <div class="col-lg-2"><h4>Mash Thickness(qt/lb)</h4></div>
            <div class="col-lg-2"><input id="mash-thickness" /></div>

        </div>

        <div class="row">

            <div class="col-lg-2"><h4>Initial Grain Temperature</h4></div>
            <div class="col-lg-2"><input id="initial-grain-temperature" /></div>


        </div>


        <div class="bottom-margin-push"></div>

        <div class="bottom-border bottom-margin-push"></div>

        <h3>Grain Bill</h3>
        <div class="row">
            <div class="col-lg-3"><h4>Grain</h4></div>
            <div class="col-lg-3"><h4>Amount(lbs)</h4></div>
        </div>
        <div class="bottom-border bottom-margin-push"></div>

        <div class="grain-table">

        </div>

        <div class="button-margin-top">
            <input type="button" class="btn-sm btn-primary" onclick="addGrain()" value="Add grain" />
        </div>

    </div>

    <div>
        <h3>Hop Schedule</h3>
        <div class="row">
            <div class="col-lg-3"><h4>Hop</h4></div>
            <div class="col-lg-3"><h4>Amount(ozs)</h4></div>
            <div class="col-lg-3"><h4>Boil time(minutes)</h4></div>
            <div class="col-lg-3"><h4>Alpha Acid(%)</h4></div>
        </div>
        <div class="bottom-border bottom-margin-push"></div>

        <div class="hop-table">

        </div>

        <div class="button-margin-top">
            <input type="button" class="btn-sm btn-primary" onclick="addHop()" value="Add hop" />
        </div>
    </div>

    <div>
        <h3>Yeast</h3>
    </div>



    <div class="row">

        <div class="col-lg-3">
            <select class="yeast-selection form-control">
                @foreach (var yeast in Model.YeastTypes)
                {
                    <option value="@yeast.YeastTypeID">@yeast.YeastName</option>
                }
            </select>


        </div>

        <div class="col-lg-3">Expected Attenuation</div>
        <div class="col-lg-3"><input id="expected-attenuation" /></div>


    </div>

    <div class="bottom-margin-push"></div>

    <div class="float-right">
        <input type="button" value="Create Recipe" onclick="createRecipe()" class="btn btn-sm btn-success" />
    </div>

    <div class="float-right">
        <input type="button" value="Calculate Metrics" onclick="calculateMetrics()" class="btn btn-sm btn-info" />
    </div>

</div>

<div class="hidden">
    <div class="grain-prototype row bottom-margin-push">
        <div class="col-lg-3">
            <select class="form-control grain-selection">
                @foreach (var grain in Model.GrainTypes)
                {
                    <option value="@grain.GrainTypeID">@grain.GrainName</option>
                }
            </select>
        </div>

        <div class="col-lg-3">
            <input type="text" class="form-control grain-amount" />
        </div>
    </div>

    <div class="hop-prototype row bottom-margin-push">
        <div class="col-lg-3">
            <select class="form-control hop-selection">
                @foreach (var hop in Model.HopTypes)
                {
                    <option value="@hop.HopTypeID">@hop.HopName</option>
                }
            </select>
        </div>

        <div class="col-lg-3">
            <input class="form-control hop-amount" type="text" />
        </div>

        <div class="col-lg-3">
            <select class="boil-time form-control boil-time">
                <option value="60">60</option>
                <option value="45">45</option>
                <option value="30">30</option>
                <option value="20">20</option>
                <option value="15">15</option>
                <option value="10">10</option>
                <option value="5">5</option>
                <option value="0">0</option>
            </select>
        </div>

        <div class="col-lg-3">
            <input class="form-control hop-alpha-acid" type="text" />
        </div>
    </div>
</div>


<script>
    
    function init() {
        $('#batch-size').val('5.5');
        $('#mash-efficiency').val('65');
        $('#mash-temperature').val('152');
        $('#boil-off-rate').val('1.5');
        $('#grain-absorbtion').val('.2');
        $('#equipment-dead-space').val('.2');
        $('#trub-loss').val('.2');
        $('#mash-thickness').val(2);
        $('#initial-grain-temperature').val('75');
    }
</script>

