
@model BeerCalculator.Common.DTOs.IngredientDTO

<h2>Recipe Details</h2>
<div>
    <div class="row">

        <div class="col-lg-1"><h4>Name:</h4></div>
        <div class="col-lg-2"><input type="text" class="form-control recipe-name" /></div>
    </div>

    <div>

        <h3>Water</h3>
        <div class="row">
            <div class="col-lg-2"><h4>Desired Batch Size</h4></div>
            <div class="col-lg-2"><input id="batch-size" /></div>

            <div class="col-lg-2"><h4>Mash Efficiency</h4></div>
            <div class="col-lg-2"><input id="mash-efficiency" /></div>
        </div>

        <div class="bottom-margin-push"></div>

        <div class="row">

            <div class="col-lg-2"><h4>Mash Temperature</h4></div>
            <div class="col-lg-2"><input id="mash-temperature" /></div>

            <div class="col-lg-2"><h4>Boil Off Rate</h4></div>
            <div class="col-lg-2"><input id="boil-off-rate" /></div>

        </div>

        <div class="row">

            <div class="col-lg-2"><h4>Grain Absorbtion</h4></div>
            <div class="col-lg-2"><input id="grain-absorbtion" /></div>

            <div class="col-lg-2"><h4>Equipment Dead Space</h4></div>
            <div class="col-lg-2"><input id="equipment-dead-space" /></div>

        </div>

        <div class="bottom-margin-push"></div>

        <div class="row">

            <div class="col-lg-2"><h4>Trub Loss</h4></div>
            <div class="col-lg-2"><input id="trub-loss" /></div>

            <div class="col-lg-2"><h4>Mash Thickness(qt/lb)</h4></div>
            <div class="col-lg-2"><input id="mash-thickness" /></div>

        </div>

        <div class="row">

            <div class="col-lg-2"><h4>Initial Grain Temperature</h4></div>
            <div class="col-lg-2"><input id="initial-grain-temperature" /></div>

            <div class="col-lg-2"><h4>Expected Effciency</h4></div>
            <div class="col-lg-2"><input id="expected-efficiency" /></div>

        </div>


        <div class="bottom-margin-push"></div>

        <div class="bottom-border bottom-margin-push"></div>

        <h3>Grain Bill</h3>
        <div class="row">
            <div class="col-lg-3"><h4>Grain</h4></div>
            <div class="col-lg-3"><h4>Amount(lbs)</h4></div>
        </div>
        <div class="bottom-border bottom-margin-push"></div>

        <div class="grain-table">
            @foreach (var recipeGrain in Model.Recipe.Grains)
            {
                <select class="form-control grain-selection">
                    @foreach (var ingredient in Model.Ingredients.GrainTypes)
                    {
                        if (recipeGrain.GrainTypeID == ingredient.GrainTypeID)
                        {
                            <option selected value="@ingredient.GrainTypeID">@ingredient.GrainName</option>
                        }
                        else
                        {
                            <option value="@ingredient.GrainTypeID">@ingredient.GrainName</option>
                        }
                    }
                </select>
            }

        </div>

        <div class="button-margin-top">
            <input type="button" class="btn-sm btn-primary" onclick="addGrain()" value="Add grain" />
        </div>

    </div>

    <div>
        <h3>Hop Schedule</h3>
        <div class="row">
            <div class="col-lg-3"><h4>Hop</h4></div>
            <div class="col-lg-3"><h4>Amount(ozs)</h4></div>
            <div class="col-lg-3"><h4>Boil time(minutes)</h4></div>
            <div class="col-lg-3"><h4>Alpha Acid(%)</h4></div>
        </div>
        <div class="bottom-border bottom-margin-push"></div>

        <div class="hop-table">

        </div>

        <div class="button-margin-top">
            <input type="button" class="btn-sm btn-primary" onclick="addHop()" value="Add hop" />
        </div>
    </div>

    <div>
        <h3>Yeast</h3>
    </div>



    <div class="row">

        <div class="col-lg-3">
            <select class="yeast-selection form-control">
                @foreach (var yeast in Model.YeastTypes)
                {
                    <option value="@yeast.YeastTypeID">@yeast.YeastName</option>
                }
            </select>


        </div>

        <div class="col-lg-3">Expected Attenuation</div>
        <div class="col-lg-3"><input id="expected-attenuation" /></div>


    </div>

    <div class="bottom-margin-push"></div>

    <div class="float-right">
        <input type="button" value="Calculate Metrics" onclick="calculateMetrics()" class="btn btn-sm btn-info" />
    </div>

</div>

<div class="hidden">
    <div class="grain-prototype row bottom-margin-push">
        <div class="col-lg-3">
            <select class="form-control grain-selection">
                @foreach (var grain in Model.GrainTypes)
                {
                    <option value="@grain.GrainTypeID">@grain.GrainName</option>
                }
            </select>
        </div>

        <div class="col-lg-3">
            <input type="text" class="form-control grain-amount" />
        </div>
    </div>

    <div class="hop-prototype row bottom-margin-push">
        <div class="col-lg-3">
            <select class="form-control hop-selection">
                @foreach (var hop in Model.HopTypes)
                {
                    <option value="@hop.HopTypeID">@hop.HopName</option>
                }
            </select>
        </div>

        <div class="col-lg-3">
            <input class="form-control hop-amount" type="text" />
        </div>

        <div class="col-lg-3">
            <select class="boil-time form-control boil-time">
                <option value="60">60</option>
                <option value="45">45</option>
                <option value="30">30</option>
                <option value="20">20</option>
                <option value="15">15</option>
                <option value="10">10</option>
                <option value="5">5</option>
                <option value="0">0</option>
            </select>
        </div>

        <div class="col-lg-3">
            <input class="form-control hop-alpha-acid" type="text" />
        </div>
    </div>
</div>

<div id="recipe-metrics" class="modal fade collapse" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Recipe Metrics</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Expected ABV</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="expected-abv" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <label>Expected Original Gravity</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="expected-original-gravity" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <label>Expected Final Gravity</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="expected-final-gravity" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <label>Expected IBU</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="expected-ibu" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <label>Expected Boil Gravity Points</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="expected-boil-gravity-points" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <label>Expected SRM</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="expected-srm" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <label>Sparge Volume</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="sparge-volume" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <label>Strike Temperature</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="strike-temperature" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <label>Strike Volume</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="strike-volume" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <label>Water Required</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="water-required" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <label>Boil Volume</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="boil-volume" class="form-control" />
                    </div>
                </div>


            </div> <!-- End of modal -->
            <div class="modal-footer">

                <input type="button" class="btn btn-success" onclick="createRecipe()" value="Save Recipe" />

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

