<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap-styles/css")
    <style>
        .wrapper{
            align-content:center;
            margin-right:auto;
            margin-left:auto;
            width:80%;
            padding:10px;
            background-color:#fff;
            min-height:100%;
        }
        .navbar{
            margin-bottom:0;
        }
        body{
            background-color:lightgray;
        }
    </style>
</head>


<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container" style="float:left;">
                @Html.ActionLink("Beer Calculator", "Index", "Home", new { @class = "navbar-brand" })
                <ul class="navbar-nav nav">
                    <li>
                        <a href="javascript:void(0)">View Recipes</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="getGrainManagementPage()">View Grains</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="getHopManagementPage()">View Hops</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">View Yeast</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
   
    

    <div id="body" class="wrapper">
        @RenderBody()
    </div>

    <footer>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ajaxlogin")
    @Scripts.Render("~/Scripts/bootstrap-scripts")
    @Scripts.Render("~/Scripts/customScripts")
</body>
</html>
